<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <!--<h1 th:text="${title}" id="title" class="title">알 수 없음</h1>-->
    <div id="login_logo_box"><!--<img src="/images/temp-logo.png"/>&nbsp;--><h1 id="login_logo">Travelog</h1></div>
    <div class="content-box" >
        <form name="loginForm" id="loginForm" action="/login" method="post" th:object="${loginDTO}">
            ID
            <input type="text" th:field="*{loginId}" class="w3-input w3-border"/>
            <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error_messege">Incorrect data!</p>
            PW
            <input type="text" th:field="*{loginPw}" class="w3-input w3-border"/>
            <p th:if="${#fields.hasErrors('loginPw')}" th:errors="*{loginPw}" class="error_messege">Incorrect data!</p>
            
            <div class="btn_div">
            	<ul class="btn_ul">
            		<li>
            			<button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom">LOGIN</button>
            		</li>
            		<li>
            			<a th:href="'/member/join'">
			            	<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">JOIN</button>
			            </a>
            		</li>
            	</ul> 
            </div>
            <div class="btn_div">
            	<ul class="btn_ul">
            		<li>
            			<a th:href="'/oauth2/authorization/naver'">
			            	<!--<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">NAVER LOGIN</button>-->
			            	<div class="social_login_btn_box"><img th:src="'/images/naver-login-btn.png'" /></div>
			            </a>
            		</li>
            	</ul>
            </div>
            
        </form>
    </div>
</th:block>
</html>